.row
  .col-sm-12
    .row
      %h4.col-md-12= 'New cost'
.card-divider-header
= simple_form_for product, html: { id: :purchase_form } do |f|
  .row
    .col-md-12= f.input :date, as: :string, input_html: {class: 'datepicker'}, placeholder: 'Date', label: false
.card-divider-footer
  .row
    .col-md-12= link_to '', '#', class: 'glyphicon glyphicon-plus'
