.row
  %h4.col-md-6= l(resource.created_at, format: '%A, %d %b %Y')
  %h4.col-md-6= t('application.total', price: all_operation_from_period(resource.purchases))
.row
  .col-md-3.purchase-card#new_purchase
    = render 'purchases/form', product: resource.purchases.build, cost_id: @cost.id
  = render 'purchases/purchases_card', resource: resource
