- @costs.each_pair do |period, costs|
  - costs.each do |cost|
    .panel.panel-default{id: dom_id(cost)}
      = render 'purchases_list', resource: cost, period: period, costs: costs
.row
  .col-md-6
  .col-md-3
  %h4.col-md-3#total_by_period= t('application.total_by_period', cost: all_costs_from_period(@costs))
