@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";
@import "select2";
@import "bootsrap-customise";

html {
  min-height: 100%;
  background: url('main-background.jpg');
  background-attachment:fixed;
  background-position:center center;
  background-repeat:no-repeat
}

body {
  background: none;
}

.remove_attributes {
  margin-top: 12px;
}
.add_purchase {
  margin-top: 24px;
}
.only_foods {
  display: none;
}

.home-link {
  position: fixed;
  a, a:hover, a:focus {
    font-family: 'southernaire';
    font-size: 5em;
    color: #333;
    text-decoration: none;
  }
}

.main-menu {
  font-family: 'zantroke';
  margin-top: 280px;
  position: fixed;
  ul {
    &>li>a,  &>li>a:hover, &>li>a:focus {
      color: #333;
      font-size: 0.8em;
    }
  }
}
@font-face {
  font-family: 'gulagdecay';
  src:url('gulagdecay.ttf')
}
@font-face {
  font-family: 'diane-de-france';
  src:url('diane-de-france.ttf')
}
@font-face {
  font-family: 'southernaire';
  src:url('southernaire.ttf')
}
@font-face {
  font-family: 'zantroke';
  src:url('zantroke.otf')
}
