@charset "utf-8";

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datepicker";

.remove_attributes {
  margin-top: 12px;
}
.add_purchase {
  margin-top: 24px;
}
.only_foods {
  display: none;
}
