%li= link_to t('application.new_product'), new_product_path
%li= link_to t('application.new_cost'), new_cost_path
%li= link_to t('application.all_cost'), costs_path(start_week: Date.today.beginning_of_week, end_week: Date.today.end_of_week)
