%li= link_to t('application.new_product'), new_product_path
%li= link_to t('application.incomes'), incomes_path
%li= link_to t('application.current_cost'), cost_path(id: current_cost.id)
%li= link_to t('application.all_cost'), costs_path(period: :all)
