- if user_signed_in?
  .row
    .col-md-12
      = t('application.month_incomes', income: sum_incomes_per_month(current_user, Date.today))
    .col-md-12
      = t('application.free_money', money: number_to_currency(current_user.balances.last.amount))
- else
  .row
    .col-md-12
      = t('application.hello', links: (render "devise/shared/links", resource_name: :user, resource_class: User)).html_safe
